[user]
	name = Matt Chapman
	email = Matt@NinjitsuWeb.com
	mail = Matt@NinjitsuWeb.com
[core]
	editor = vim
  whitespace=fix,-indent-with-non-tab,-indent-with-tab,trailing-space,cr-at-eol
[push]
	default = current
[merge]
  defaultToUpstream = true
[alias]
  st = status -sb
  ll = log --pretty=format:'%C(yellow)%h %Cblue%an%Cgreen%d %Creset%s'
  ls = log --name-status
  ci = commit
  br = branch -v
  bc = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d
  co = checkout
  unstage = reset HEAD
  df = !git diff && git diff --staged
  wd = diff --word-diff
  clear = reset --hard
  up = !git stash && git fetch && git rebase
  upp = !git pull
  re = remote -v
  mergekeep = merge -s recursive -X ours
  keep = merge -s recursive -X ours
  mergetoss = merge -s recursive -X theirs
  toss = merge -s recursive -X theirs
  changelog = log --pretty=format:'%s by %an (%h)'

[color]
  ui = auto

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[branch]
	autosetuprebase = always
